<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <title>BISU MC Questionnaire</title>
</head>
<body>
    <main class="ques">
        <div class="card container">
                <div class = "logo-header">
                    <div class = "logo"></div>
                    <div class = "title-card">Symptom Monitoring Checklist</div>
                    <div class = "subtext-card">Please answer with complete Honesty</div>
                </div>
                <form class="container">

                <!--HEADACHE STARTS HERE-->
                <fieldset>
                    <legend>Headache</legend>
                    <label for="headache">Do you have a headache?</label>
                        <select id="headache" name="headache">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </fieldset>
                <br>
                <fieldset id="yesField" class="hidden"><div class="container card-extra">
                    <h4>Experiencing Headache</h4>
                    <legend>Severity</legend>
                    <label for="severity-headache">Please Specify your headache's severity on a scale of 1-5.</label><br>
                    <table style="width:100%">
                        <tr>
                            <td>
                                <input type="radio" name="severity-headache" id="1" value="1"/><label for="1">1</label>
                            </td>
                            <td>
                                <input type="radio" name="severity-headache" id="2" value="2"/><label for="2">2</label>
                            </td>
                            <td>
                                <input type="radio" name="severity-headache" id="3" value="3"/><label for="3">3</label>
                            </td>
                            <td>
                                <input type="radio" name="severity-headache" id="4" value="4"/><label for="4">4</label>
                            </td>
                            <td>
                                <input type="radio" name="severity-headache" id="5" value="5"/><label for="5">5</label><br>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <legend>Duration [in Days]</legend>
                    <label for="severity-headache">How long have you been experiencing this symptom?</label><br>
                    <select id="duration-headache" name="duration-headache">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="<=1">Less than a day [1=>]</option>
                        <option value=">=3">More than 3 days [>=3]</option>
                        <option value=">=7">More than 7 days [>=7]</option>
                        <option value=">=14">More than 14 days [>=14]</option>
                        <option value=">=21">More than 21 days [>=21]</option>
                        <option value=">=30">More than 30 days [>=30]</option>
                    </select>
                </div>
                <br><br>
                </fieldset>
                <!--HEADACHE ENDS HERE-->

                <!--NASAL CONGESTION STARTS HERE-->
                <fieldset>
                        <legend>Nasal Congestion</legend>
                        <label for="nasal-congestion">Do you have a nasal congestion?</label>
                            <select id="nasal-congestion" name="nasal-congestion">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes1Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing Nasal Congestions</h4>
                        <legend>Severity</legend>
                        <label for="severity-nasal-congestion">Please Specify the symptom's severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-nasal-congestion" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-nasal-congestion" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-nasal-congestion" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-nasal-congestion" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-nasal-congestion" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-nasal-congestion">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-nasal-congestion" name="duration-nasal-congestion">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--NASAL CONGESTION ENDS HERE-->

                <!--SORE THROAT STARTS HERE-->
                <fieldset>
                        <legend>Sore Throat</legend>
                        <label for="sore-throat">Do you have a sore throat?</label>
                            <select id="sore-throat" name="sore-throat">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes2Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing Sore Throat</h4>
                        <legend>Severity</legend>
                        <label for="severity-sore-throat">Please Specify the symptom's severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-sore-throat" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-sore-throat" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-sore-throat" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-sore-throat" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-sore-throat" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-sore-throat">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-sore-throat" name="duration-sore-throat">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--SORE THROAT ENDS HERE-->

                <!--COUGH STARTS HERE-->
                <fieldset>
                        <legend>Cough</legend>
                        <label for="cough">Do you have a cough?</label>
                            <select id="cough" name="cough">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes3Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing Cough</h4>
                        <legend>Severity</legend>
                        <label for="severity-cough">Please Specify the symptom's severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-cough" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-cough" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-cough" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-cough" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-cough" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-cough">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-cough" name="duration-cough">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--COUGH ENDS HERE-->

                <!--NIGHT SWEATS STARTS HERE-->
                <fieldset>
                        <legend>Night Sweats</legend>
                        <label for="night-sweats">Do you have a night sweats?</label>
                            <select id="night-sweats" name="night-sweats">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes4Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing Night Sweats</h4>
                        <legend>Severity</legend>
                        <label for="severity-night-sweats">Please Specify the symptoms's severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-night-sweats" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-night-sweats" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-night-sweats" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-night-sweats" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-night-sweats" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-night-sweats">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-night-sweats" name="duration-night-sweats">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--NIGHT SWEATS ENDS HERE-->

                <!--CHEST PAIN STARTS HERE-->
                <fieldset>
                        <legend>Chest pain</legend>
                        <label for="chest-pain">Do you have chest pains?</label>
                            <select id="chest-pain" name="chest-pain">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes5Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing Chest pains</h4>
                        <legend>Severity</legend>
                        <label for="severity-chest-pain">Please Specify the symptoms's severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-chest-pain" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-chest-pain" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-chest-pain" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-chest-pain" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-chest-pain" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-chest-pain">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-chest-pain" name="duration-chest-pain">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--CHEST PAIN ENDS HERE-->

                <!--DIFFICULTY/SHORTNESS IN BREATHING STARTS HERE-->
                <fieldset>
                        <legend>Difficulty/Shortness in Breathing</legend>
                        <label for="difficulty-breathing">Do you have a Difficulty/Shortness in breathing?</label>
                            <select id="difficulty-breathing" name="difficulty-breathing">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes6Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing Difficulty in Breathing</h4>
                        <legend>Severity</legend>
                        <label for="severity-difficulty-breathing">Please Specify the symptom's severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-difficulty-breathing" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-difficulty-breathing" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-difficulty-breathing" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-difficulty-breathing" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-difficulty-breathing" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-difficulty-breathing">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-difficulty-breathing" name="duration-difficulty-breathing">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--DIFFICULTY/SHORTNESS IN BREATHING ENDS HERE-->

                <!--LOSS OF APPETITE STARTS HERE-->
                <fieldset>
                        <legend>Loss of Appetite</legend>
                        <label for="loss-of-appetite">Do you have a Loss of appetite?</label>
                            <select id="loss-of-appetite" name="loss-of-appetite">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes7Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing Loss of Appetite</h4>
                        <legend>Severity</legend>
                        <label for="severity-loss-of-appetite">Please Specify the symptom’s severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-loss-of-appetite" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-loss-of-appetite" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-loss-of-appetite" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-loss-of-appetite" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-loss-of-appetite" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-loss-of-appetite">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-loss-of-appetite" name="duration-loss-of-appetite">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--LOSS OF APPETITE ENDS HERE-->

                <!--UNEXPLAINED WEIGHT LOSS STARTS HERE-->
                <fieldset>
                        <legend>Unexplained Weight Loss</legend>
                        <label for="weight-loss">Do you have a Unexplained weight loss?</label>
                            <select id="weight-loss" name="weight-loss">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes8Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing Unexplained Weight loss</h4>
                        <legend>Severity</legend>
                        <label for="severity-weight-loss">Please Specify the symptom’s severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-weight-loss" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-weight-loss" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-weight-loss" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-weight-loss" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-weight-loss" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-weight-loss">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-weight-loss" name="duration-weight-loss">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--UNEXPLAINED WEIGHT LOSS ENDS HERE-->

                <!--NAUSEA STARTS HERE-->
                <fieldset>
                        <legend>Nausea</legend>
                        <label for="nausea">Do you have nausea?</label>
                            <select id="nausea" name="nausea">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes9Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing Nausea</h4>
                        <legend>Severity</legend>
                        <label for="severity-nausea">Please Specify the symptom’s severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-nausea" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-nausea" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-nausea" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-nausea" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-nausea" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-nausea">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-nausea" name="duration-nausea">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--NAUSEA ENDS HERE-->

                <!--VOMITTING STARTS HERE-->
                <fieldset>
                        <legend>Vomiting</legend>
                        <label for="vomiting">Do you have vomiting?</label>
                            <select id="vomiting" name="vomiting">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes10Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing Vomiting</h4>
                        <legend>Severity</legend>
                        <label for="severity-vomiting">Please Specify the symptom’s severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-vomiting" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-vomiting" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-vomiting" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-vomiting" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-vomiting" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-vomiting">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-vomiting" name="duration-vomiting">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--VOMITTING ENDS HERE-->

                <!--DIARRHEA STARTS HERE-->
                <fieldset>
                        <legend>Diarrhea</legend>
                        <label for="diarrhea">Do you have diarrhea?</label>
                            <select id="diarrhea" name="diarrhea">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes11Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing diarrhea</h4>
                        <legend>Severity</legend>
                        <label for="severity-diarrhea">Please Specify the symptom’s severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-diarrhea" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-diarrhea" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-diarrhea" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-diarrhea" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-diarrhea" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-diarrhea">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-diarrhea" name="duration-diarrhea">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--DIARRHEA ENDS HERE-->

                <!--MUSCLE/BODY ACHES STARTS HERE-->
                <fieldset>
                        <legend>Muscle/Body Aches</legend>
                        <label for="body-aches">Do you have muscle/body Aches?</label>
                            <select id="body-aches" name="body-aches">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes12Field" class="hidden"><div class="container card-extra">
                        <h4>Muscle/Body Aches</h4>
                        <legend>Severity</legend>
                        <label for="severity-body-aches">Please Specify the symptom’s severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-body-aches" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-body-aches" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-body-aches" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-body-aches" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-body-aches" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-body-aches">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-body-aches" name="duration-body-aches">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--MUSCLE/BODY ACHES ENDS HERE-->

                <!--FATIGUE STARTS HERE-->
                <fieldset>
                        <legend>Fatigue</legend>
                        <label for="fatigue">Are you experiencing fatigue?</label>
                            <select id="fatigue" name="fatigue">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </fieldset>
                    <br>
                    <fieldset id="yes13Field" class="hidden"><div class="container card-extra">
                        <h4>Experiencing Fatigue</h4>
                        <legend>Severity</legend>
                        <label for="severity-fatigue">Please Specify the symptom’s severity on a scale of 1-5.</label><br>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <input type="radio" name="severity-fatigue" id="1" value="1"/><label for="1">1</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-fatigue" id="2" value="2"/><label for="2">2</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-fatigue" id="3" value="3"/><label for="3">3</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-fatigue" id="4" value="4"/><label for="4">4</label>
                                </td>
                                <td>
                                    <input type="radio" name="severity-fatigue" id="5" value="5"/><label for="5">5</label><br>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <legend>Duration [in Days]</legend>
                        <label for="duration-fatigue">How long have you been experiencing this symptom?</label><br>
                        <select id="duration-fatigue" name="duration-fatigue">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="<=1">Less than a day [1=>]</option>
                            <option value=">=3">More than 3 days [>=3]</option>
                            <option value=">=7">More than 7 days [>=7]</option>
                            <option value=">=14">More than 14 days [>=14]</option>
                            <option value=">=21">More than 21 days [>=21]</option>
                            <option value=">=30">More than 30 days [>=30]</option>
                        </select>
                    </div>
                    <br><br>
                </fieldset>
                <!--FATIGUE ENDS HERE-->
                <hr class="solid">
                    <label for="contact">Do you have any contct with viral respitory-ailed persons [such as COVID-19, TB, Influenza, Common Colitis, etc.] or have you travelled to places infected by viral respiratory diseases?</label><br>
                        <select id="contact" name="contact-tracing">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    <br><br>
                <div style="text-align: center">
                    <button class="ques-button" type="submit"><i class="fas fa-qrcode"></i> Create QR Code!</button>
                </div>
            </form>
        </div>
        <nav class="menu">
            <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
            <label class="menu-open-button" for="menu-open"> 
                <span class="lines line-1"></span> 
                <span class="lines line-2"></span> 
                <span class="lines line-3"></span> 
            </label>
            <a href="#" class="menu-item item-1"> 
                <i class="fas fa-sign-out-alt"></i>
            </a> 
            <a href="/home" class="menu-item item-2"> 
                <i class="fas fa-home"></i>
            </a> 
        </nav>
        <br><br>
    </main>

    <script src="/external.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>