html,body {
    font-family: 'Montserrat';
    width: 100%!important;
    height: 100%!important;
    background: linear-gradient(#9DCDF6, #B89EFF);
    background-attachment: fixed;
}

body p {
    font-size: small;
}

body main {
    width: 100%!important;
    height: 100%!important;
}

.logo-header {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    height: max-content;
    padding-top: 3em;
}

.logo {
    width: 5em;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./images/bisu-logo.png");
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}
.title {
    color: #0B3356;
}

.subtext {
    margin-top: 0.5em;
    color: white;
    font-size: small;
    font-weight: normal;
}

.login {
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 30em;
    height: max-content;
}

.input {
    font-family: 'Montserrat';
    height: 2.7em;
    width: 97%;
    min-width: 10em;
    margin-bottom: 1.2em;
    padding-left: 0.8em;
    border-radius: 25em;
    border-style: none;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.199);
}

.login-button {
    left: 50em;
    width: 6em;
    margin-top: 1em;
    color: white;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: large;
    padding: 0.3em;
    border-radius: 25em;
    border-style: none;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.199);
    background-color:#3368E2;
}

.login-button:hover {
    background-color: rgb(204, 167, 1);
}

.signup {
    margin-top: 3em;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    width: max-content;
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

.signup-button {
    border-radius: 25em;
    margin-left: 0.5em;
    padding: 0.2em 0.7em 0.2em 0.7em;
    width: max-content;
    border-style: solid;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: small;
    color: rgb(20, 20, 20);
    border-color: rgb(20, 20, 20);
    background-color: rgba(0, 0, 0, 0);
}

.signup-button:hover {
    color: rgb(105, 105, 105);
    border-color: rgb(105, 105, 105);
}


/* Questionnaire starts here */
.ques  {
    padding-top: 50px;
}

.hidden {
  display: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    padding-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.card-extra {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding-top: 15px;
    padding-right:15px;
    padding-left: 15px;
    padding-bottom:15px;
}

.subtext-card {
    margin-top: 0.5em;
    color: black;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    line-height: 0.5cm;
}

.title-card {
    font-size:30px;
    color: #0B3356;
}

.ques-button, .home-button {
    color: white;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 20px;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-bottom: 0.3cm;
    padding-top: 0.3cm;
    border-radius: 25em;
    border-style: none;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.199);
    background-color:#3368E2;
}

.ques-button:hover, .home-button:hover {
    background-color: rgb(204, 167, 1);
}

legend, label{
    line-height: 0.5cm;
}

/* Home starts here*/
button:disabled {
    background: #dddddd;
}

button:hover:disabled {
    background: #dddddd;
}
.button-home {
    display:block;
    text-align: center;
}

  
.menu-item, .menu-open-button {
    background: #EEEEEE;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
  
.menu-open { display: none; }
  
.lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}
  
.line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}
  
.line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
  
.line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}
  
.menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}
  
.menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}
  
.menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}
  
.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
}
  
.menu-item:hover {
    background: #EEEEEE;
}
  
.menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}
  
.menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}
  
.menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}
  
.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
  
.menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
  
.menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
  
.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(0.08361px, -104.99997px, 0);
}
  
.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(90.9466px, -52.47586px, 0);
}
  
.item-1 {
    background-color: #FE4365;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
  
.item-1:hover {
    color: #FE4365;
    text-shadow: none;
}
  
.item-2 {
    background-color: #FC9132;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
  
.item-2:hover {
    color: #FC913A;
    text-shadow: none;
}

a {
    text-decoration: none;
}

.disabled {
    background: #dddddd;
}
.disabled:hover {
    background: #dddddd;
    color: white;
}
  
